@import '../../styles/config/variables.scss';

.swiper {
    max-width: 280px;
    height: 100%;
    @include media (max-width, 960px) {
        max-width: 225px;
    }
}

.chatgroup {
    display: grid;
    grid-template-rows: 200px 1fr;
    height: 100%;
    .profile {
        display: grid;
        grid-template-rows: max-content 1fr;
        border-bottom: 1px dashed $textLight;
        .dot {
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
            font-size: $xl;
        }
        .data {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .img {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                background-color: $container;
            }
            .title { color: $title; font-size: $m+$xxs; font-weight: $bold; }
            .subtitle { color: $textLight; }
        }
    }
    .wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        overflow-x: auto;
        .section {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            overflow-x: auto;
            padding-top: $s;
            .header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 $xs;
                .title { color: $title; font-size: $m+$xxs; font-weight: $bold; }
                .btn { color: $primary; text-decoration: underline; }
            }
            .container {
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                overflow-x: auto;
                .content {
                    cursor: pointer;
                    border-radius: $m;
                    padding: $s;
                    display: grid;
                    grid-template-columns: max-content 1fr;
                    align-items: center;
                    column-gap: $s;
                    &:hover {
                        background-color: $primary;
                        color: $container;
                    }
                    .img {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        background-color: $container;
                    }
                    .name { font-weight: $medium; }
                    .description { color: $textLight; font-size: $s; }
                }
            }
        }
    }
}


