* { margin: 0; padding: 0; box-sizing: border-box; }
::-webkit-scrollbar {
    display: none;
}
html { scroll-behavior: smooth; }

body {
    font-family: $bodyFont;
    font-size: $size-m;
    color: $text;
    background-color: $body;
}

main { 
    width: 100vw; 
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}

a { text-decoration: none; }

h1,h2,h3 { color: $title; font-weight: $bold; }

ul { list-style: none; }

img { max-width: 100%; height: auto; object-fit: cover; }

input, button { background: none; outline: none; border: none; }

button { cursor: pointer; }

.container { 
    display: flex;
    max-width: 1168px; 
    padding: $m;
    @include media(min-width, 968px) {
        margin: 0 auto;
    }
}